
.inter-one{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-two{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f5f8ff;
}
/* .header{
  width: 100%;
} */

/* navbar style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 170px 120px 170px;
}
.nav-items{
  display: flex;
  gap: 48px;
  align-items: center;
}
.nav-items li{
  list-style: none;
}
.nav-items a{
  text-decoration: none;
}
.item-1{
  font-size: 1rem;
  font-weight: bold;
  color: #252432;
}
.item-2{
  font-size: 1rem;
  font-weight: 400;
  color: #8987A1;  
}
.cart{
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

/* banner style */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 170px;
}
.banner-content{
  max-width: 570px;
}
.banner-title{
  font-size: 4.0625rem;
  font-weight: bold;
}
.banner-description{
  font-size: 1.375rem;
  color: #000000;
  opacity: 50%;
}
.banner-image img{
  width: 100%;
}
.color-1{
  color: #E95A08;
}

/* plants section style */
.plants{
  text-align: center;
  margin: 120px 200px;
}
.plants-content{
  margin-bottom: 50px;
}
.plants-title{
  font-size: 3.125rem;
  font-weight: bold;
}
.plants-subtitle{
  font-size: 1.375rem;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
  padding: 16px 126px 0px 126px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
}
.card{
  text-align: center;
  width: 100%;
}
.card img{
  max-width: 100%;
  height: auto;
}
.card-title{
  font-size: 1.375rem;
  font-weight: 500;
  color: #111111;
  margin-top: 30px;
}
.card-price{
  font-size: 1.375rem;
  font-weight: bold;
  color: #111111;
  margin-top: 15px;
}
.card-btn{
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #E95A08;
  border: none;
  padding: 19px 80px;
  margin-top: 30px;
}

/* plants lover style */
.plants-lover{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 210px 150px 135px 150px;
}
.image-box{
  position: relative;
}
.p-lover-image{
  max-width: 576px;
  width: 100%;
  height: auto;
}
.badge{
  position: absolute;
  top: -127px;
  right: -93px;
  width: 286px;
  height: 286px;
}
.p-lover-content{
  max-width: 540px;
}
.p-lover-title{
  font-size: 3.125rem;
  margin-bottom: 30px;
}
.p-lover-list{
  padding-left: 35px;
  padding-right: 25px;
}
.list-item{
  font-size: 1.375rem;
  font-weight: 400;
  color: #000000;
  opacity: 50%;
  margin-bottom: 20px;
}

/* latest deals style */
.latest-deals{
  margin: 135px 100px 120px 100px;
}
.latest-deals-content{
  text-align: center;
  padding: 0px 100px;
}
.latest-deals-image{
  display: flex;
  gap: 28px;
  justify-content: center;
  margin: 120px 150px;
}
.left-image{
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.image-content{
  position: relative;
}
.image-content img{
  border-radius: 14px;
}
.image-text{
  position: absolute;
  top: 70px;
  left: 80px;
  color: #FFFFFF;
  text-align: center;
}
.image-text-2{
  position: absolute;
  top: 173px;
  left: 150px;
  color: #FFFFFF;
  text-align: center; 
}
.image-title-1{
  font-size: 1.25rem;
  font-weight: bold;
}
.image-title-2{
  font-size: 2.5rem;
  font-weight: bold;
}
.shop-1{
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 15px;
}
.shop-2{
  font-size: 1.75rem;
  font-weight: 500;
  text-decoration: underline;
}
.image-content img{
  border-radius: 22px;
}

/* join section style */
.join{
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 305px;
  color: #FFFFFF;
}
.join-title{
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.input-box{
  display: flex;
  justify-content: center;
}
.input-box input{
  font-size: 1rem;
  font-weight: 400;
  border: none;
  padding: 16px 520px 16px 20px;
}
.input-box button{
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  background-color: #E95A08;
  padding: 19px 60px;

}

@media screen and (max-width: 576px) {
  .navbar{
    margin: 10px 15px;
  }
  .logo img{
    height: 38px;
  }
  .item{
    display: none;
  }
  .nav-items{
    justify-content: flex-end;
  }

  .banner{
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .banner-content{
    max-width: 100%;
    text-align: start;
    margin: 28px 20px 65px 16px;
  }
  .banner-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .banner-description{
    font-size: 0.875rem;
  }
  .banner-image{
    order: -1;
    width: 100%;
    margin-right: 0px;
  }

  .plants{
    margin: 0px;
  }
  .plants-content{
    margin: 25px;
  }
  .plants-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .plants-subtitle{
    font-size: 0.875rem;
    padding: 0px;
  }
  .cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px 20px;
  }
  .card-title{
    font-size: 1rem;
    margin-top: 20px;
  }
  .card-price{
    font-size: 1rem;
    margin-top: 5px;
  }
  .card-btn{
    font-size: 0.875rem;
    padding: 15px 30px;
  }

  .plants-lover{
    flex-direction: column;
    margin: 20px;
    margin-top: 30px;
  }
  .p-lover-title{
    font-size: 1.5rem;
    margin-top: -40px;
  }
  .list-item{
    font-size: 0.875rem;
    margin-left: -15px;
    margin-right: -25px;
  }
  .badge{
    display: none;
  }

  .latest-deals{
    margin: 0;
    padding: 0;
    margin-top: 100px;
  }
  .latest-deals-content{
    padding: 20px;
    margin: 20px;
  }
  .latest-deals-image{
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin: 35px 20px 20px 20px;
  }
  .left-image{
    flex-direction: column;
  }
  .image-content img{
    border-radius: 14px;
  }
  .image-1{
    max-width: 361px;
  }
  .image-text-2{
    position: absolute;
    top: 70px;
    left: 80px;
  }
  .image-title-2{
    font-size: 1.25rem;
  }
  .shop-2{
    font-size: 1rem;
  }

  
  .join{
    padding: 110px 36px 70px 36px;
  }
  .join-title{
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  .input-box input{
    font-size: 0.875rem;
    padding: 12px 80px 12px 12px;
  }
  .input-box button{
    font-size: 0.875rem;
    padding: 12px 10px;
  }
}